In [4]:
import requests
import os
from PIL import Image
from IPython.display import IFrame

url = 'https://www.ibm.com/'
r = requests.get(url)
r.status_code

200

In [9]:
print(r.request.headers)
print('request body: ',r.request.body)

{'User-Agent': 'python-requests/2.31.0', 'Accept-Encoding': 'gzip, deflate, br', 'Accept': '*/*', 'Connection': 'keep-alive'}
request body:  None

In [24]:
from randomuser import RandomUser
import pandas as pd
r = RandomUser()
some_list = r.generate_users(10)
name = r.get_full_name()
for user in some_list:
    print(user.get_full_name()," ",user.get_email(), user.get_picture())

Suzanna Scott   suzanna.scott@example.com https://randomuser.me/api/portraits/women/36.jpg
Melati Slegers   melati.slegers@example.com https://randomuser.me/api/portraits/women/42.jpg
Magdo Farias   magdo.farias@example.com https://randomuser.me/api/portraits/men/35.jpg
Salvador Martin   salvador.martin@example.com https://randomuser.me/api/portraits/men/72.jpg
Tyler Harris   tyler.harris@example.com https://randomuser.me/api/portraits/men/42.jpg
Hermine Morel   hermine.morel@example.com https://randomuser.me/api/portraits/women/2.jpg
Georgia Turner   georgia.turner@example.com https://randomuser.me/api/portraits/women/25.jpg
Jeff Simmons   jeff.simmons@example.com https://randomuser.me/api/portraits/men/83.jpg
Jonathan Santiago   jonathan.santiago@example.com https://randomuser.me/api/portraits/men/45.jpg
Candelária da Luz   candelaria.daluz@example.com https://randomuser.me/api/portraits/women/45.jpg

In [25]:
def get_users():
    users =[]
     
    for user in RandomUser.generate_users(10):
        users.append({"Name":user.get_full_name(),"Gender":user.get_gender(),"City":user.get_city(),"State":user.get_state(),"Email":user.get_email(), "DOB":user.get_dob(),"Picture":user.get_picture()})
      
    return pd.DataFrame(users)     
get_users()

,Name,Gender,City,State,Email,DOB,Picture
0,Gladys Wells,female,Kalgoorlie,New South Wales,gladys.wells@example.com,1992-08-18T13:27:05.212Z,https://randomuser.me/api/portraits/women/33.jpg
1,Harriet Walker,female,Porirua,Nelson,harriet.walker@example.com,1963-03-25T16:05:56.748Z,https://randomuser.me/api/portraits/women/18.jpg
2,Jeremy Little,male,Queanbeyan,New South Wales,jeremy.little@example.com,1962-10-06T14:32:59.434Z,https://randomuser.me/api/portraits/men/20.jpg
3,Freya Patel,female,New Plymouth,Otago,freya.patel@example.com,1988-12-28T00:21:24.473Z,https://randomuser.me/api/portraits/women/0.jpg
4,Dianne Hughes,female,Geelong,Queensland,dianne.hughes@example.com,1983-04-27T16:09:46.632Z,https://randomuser.me/api/portraits/women/67.jpg
5,Yagmur Kerkman,female,Noordsche Schut,Zeeland,yagmur.kerkman@example.com,1959-09-17T10:23:11.358Z,https://randomuser.me/api/portraits/women/27.jpg
6,Morgane Morin,female,Le Mans,Orne,morgane.morin@example.com,1996-09-29T22:13:58.890Z,https://randomuser.me/api/portraits/women/48.jpg
7,Mads Rasmussen,male,Vipperød,Nordjylland,mads.rasmussen@example.com,1946-06-07T10:48:22.648Z,https://randomuser.me/api/portraits/men/50.jpg
8,Willie Gilbert,male,Bath,Nottinghamshire,willie.gilbert@example.com,1981-06-27T21:24:38.927Z,https://randomuser.me/api/portraits/men/76.jpg
9,Ella Vasquez,female,St Albans,Northamptonshire,ella.vasquez@example.com,1982-08-14T22:10:06.530Z,https://randomuser.me/api/portraits/women/87.jpg

In [30]:
df1 = pd.DataFrame(get_users())

In [43]:
import json
data = requests.get("https://fruityvice.com/api/fruit/all")
result = json.ldsoa(data.text)

df2 = pd.json_normalize(result)
cherry = df2.loc[df2["name"] == 'Cherry']
print(cherry)
(cherry.iloc[0]['family']) , (cherry.iloc[0]['genus'])

      name  id    family    order   genus  nutritions.calories  \
37  Cherry   9  Rosaceae  Rosales  Prunus                   50

    nutritions.fat  nutritions.sugar  nutritions.carbohydrates  \
37             0.3               8.0                      12.0

    nutritions.protein
37                 1.0

('Rosaceae', 'Prunus')

In [56]:
url = 'https://official-joke-api.appspot.com/jokes/ten'
r = requests.get(url)
results2 = json.loads(r.text)
results2 = pd.DataFrame(results2)
results2.head()
results2.drop(columns= ['type','id'],inplace= True)
results2.head()

,setup,punchline
0,What’s the object-oriented way to become wealthy?,Inheritance.
1,How many kids with ADD does it take to change ...,Let's go ride bikes!
2,Can a kangaroo jump higher than the Empire Sta...,Of course. The Empire State Building can't jump.
3,Who did the wizard marry?,His ghoul-friend
4,What is red and smells like blue paint?,Red paint!